{%extends "components/head.html"%}

{%block content%}
{%include "components/nav.html"%}
<div id="content" class="profile">
    {%include "components/aside.html"%}
    <main style="overflow-y: scroll;overflow-x: hidden;">
            
            <h1>Historial de pedidos</h1>
            {%for element in history%}
            <div>
                <div>----------------------------------------------</div>
                <h2>Identificador: {{element.id}}</h2>
                <h3>Comprador: {{element.username}}</h3>
                <h4>Estado: {{element.status.name}}</h4>
            </div>

            {%endfor%}
        
  
    </main>
</div>
{%endblock%}