{%include 'components/head.html'%}
<body>
    {%load filters%}
    {%include 'components/nav.html'%}
    <h1 style="text-align: center;">
        Lista de tareas 
    </h1>
    <div class="option-task">
        <div style="display: flex; flex-direction: row;">
            <label class="switch" style="transform: scale(0.6);">
                <input type="checkbox" id="toggle">
                <span class="slider round"></span>
            </label>
            <p style="position: relative;top:-5px">Vista Simplificada</p>
        </div>
        <div style="display: flex;flex-direction: row;gap: 10px;">
            <label for="filter">Filtro</label>
            <select style="height: 4vh;" name="filter" id="filter">
                <option>-------</option>
                {%for tag in Tags%}
                <option value="{{tag.name}}">{{tag.name}}</option>
                {%endfor%}
            </select>
            <svg onclick="nofilter()" style="height: 3vh;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"/></svg>
        </div>
        <div>
            <a href="/tasks/new_task">Crear nueva tarea</a>
        </div>
    </div>

    {%if Task%}
        {%for task in Task%}
        <div class="full-view">
            <div class="task" style="position: relative; background-color: {{task.tag.color}}91;">
                <h1>{{task.title}}</h1>
                <h2>{{task.content}}</h2>
                <h3>Status: {{task.status}}</h3>
                {%if task.status|is_complete%}
                    <h1 class="expired" style="color:  {{task.tag.color}};">Completado</h1>
                {%elif task.expire_date|is_expired%}
                    <h1 class="expired" style="color:  {{task.tag.color}};">Atrasado</h1>
                {%endif%}
                <h1></h1>
                <div class="task-footer">
                    <h4>{{task.tag.name}}</h4>
                    <h4>Fecha limite: {{task.expire_date}}</h4>
                </div>
            </div>
        </div>
        <div class="simplified-view" style="display: None; position: relative;" onClick="task('{{task.title}}')">
            <div class="task simplified" style="background-color: {{task.tag.color}}91;">
                <h1>{{task.title}}
                    {%if task.expire_date|is_expired%}
                        <h4>atrasado</h4>
                    {%endif%}
                </h1>
                <h4>Fecha limite: {{task.expire_date}}</h4>
            </div>
        </div>

        {%endfor%}
    {%else%}
    <h1>No hay tareas</h1>
    {%endif%}

    {%if completed_task%}
    <h1>Tareas Completadas</h1>
    {%for task in completed_task%}
    <div class="full-view">
        <div class="task" style="position: relative; background-color: {{task.tag.color}}91;">
            <h1>{{task.title}}</h1>
            <h2>{{task.content}}</h2>
            <h3>Status: {{task.status}}</h3>
            {%if task.status|is_complete%}
                <h1 class="expired" style="color:  {{task.tag.color}};">Completado</h1>
            {%elif task.expire_date|is_expired%}
                <h1 class="expired" style="color:  {{task.tag.color}};">Atrasado</h1>
            {%endif%}
            <h1></h1>
            <div class="task-footer">
                <h4>{{task.tag.name}}</h4>
                <h4>Fecha limite: {{task.expire_date}}</h4>
            </div>
        </div>
    </div>
    <div class="simplified-view" style="display: None; position: relative;" onClick="task('{{task.title}}')">
        <div class="task simplified" style="background-color: {{task.tag.color}}91;">
            <h1>{{task.title}}
                {%if task.expire_date|is_expired%}
                    <h4>atrasado</h4>
                {%endif%}
            </h1>
            <h4>Fecha limite: {{task.expire_date}}</h4>
        </div>
    </div>

    {%endfor%}
    {%endif%}
</body>
<script type="module">
const toggle=document.getElementById("toggle")
const normal_view=document.getElementsByClassName("full-view")
const simplified_view=document.getElementsByClassName("simplified-view")
const filter=document.getElementById("filter")

const toggle_map=(visible,hidden)=>{
    let total_task=normal_view.length;
    for(let pos=0;pos<total_task;pos++){
        visible[pos].style.display="None";
        hidden[pos].style.display="";
    }
}
const toggle_event=()=>{
    if(toggle.checked){
        toggle_map(normal_view,simplified_view);
    }else{
        toggle_map(simplified_view,normal_view);
    }
}

var urlParams = new URLSearchParams(window.location.search);
var filter_value = urlParams.get('filter');

filter.value=filter_value
toggle_event()
toggle.addEventListener("change",(e)=>{
    toggle_event()
});

filter.addEventListener("change",(e)=>{
    if(filter.value!=="-------"){
        window.location.href=`?filter=${filter.value}`
    }else{
        window.location.href=""
    }
    
});


</script>
<script>
function task(name){
    window.location.href=`/tasks/${name}`
}
function nofilter(){
    window.location.href='./home'
}
</script>
</html>