@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');
:root{
    --font-color: #275f96;
    --background-color: #ffdbe2;
    --secondary-color:#92b9dd;
    --tercionary-color:#ff8181;
    --darker-tone-color:#9b9fab;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0px;
}
nav{
    background-color: var(--tercionary-color);
    width: 100%;
    display: grid;
    grid-template-columns: 20% 80%;
    
}
nav>div.navbar{
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
}
.nav-option{
    width: 5vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Jersey 15", sans-serif;
}
.nav-option>svg{
    width: 10%;
}