{%include 'components/head.html'%}
<body>
    {%load filters%}
    {%include 'components/nav.html'%}
    <h1 style="text-align: center;">
        Lista de tareas 
    </h1>
    <div class="option-task">
        <div style="display: flex; flex-direction: row;">
            <label class="switch" style="transform: scale(0.6);">
                <input type="checkbox" id="toggle">
                <span class="slider round"></span>
            </label>
            <p style="position: relative;top:-5px">Vista Simplificada</p>
        </div>
        <div style="display: flex;flex-direction: row;gap: 10px;">
            <label for="filter-tag">Etiqueta</label>
            <select style="height: 4vh;" name="filter-tag" id="filter-tag">
                <option>-------</option>
                {%for tag in Tags%}
                <option value="{{tag.name}}">{{tag.name}}</option>
                {%endfor%}
            </select>
            <label for="filter-state">Estado</label>
            <select style="height: 4vh;" name="filter-state" id="filter-state">
                <option>-------</option>
                {%for status in Statuses%}
                <option value="{{status.name}}">{{status.name}}</option>
                {%endfor%}
            </select>
            <svg onclick="nofilter()" style="height: 3vh;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"/></svg>
        </div>
        <div>
            <a href="/tasks/new_task">Crear nueva tarea</a>
        </div>
    </div>

    {%if Task%}
        {%for task in Task%}
        <div class="full-view">
            <div class="task" style="position: relative; background-color: {{task.tag.color}}91;">
                <div style="display: flex;flex-direction: row; justify-content: space-between;">
                    <h1>{{task.title}}</h1>
                    <div class="task-actions">
                        <a href="/tasks/{{task.title}}/editar">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c21.9-21.9 21.9-57.3 0-79.2L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.7 15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160V416c0 53 43 96 96 96H352c53 0 96-43 96-96V320c0-17.7-14.3-32-32-32s-32 14.3-32 32v96c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h96c17.7 0 32-14.3 32-32s-14.3-32-32-32H96z"/></svg>
                        </a>
                        <a href="/tasks/{{task.title}}/borrar">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"/></svg>
                        </a>
                        <a href="/tasks/{{task.title}}/marcar">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg>
                        </a>
                    </div>
                </div>
                <h2>{{task.content}}</h2>
                <h3>Status: {{task.status}}</h3>
                {%if task.status|is_complete%}
                    <h1 class="expired" style="color:  {{task.tag.color}};">Completado</h1>
                {%elif task.expire_date|is_expired%}
                    <h1 class="expired" style="color:  {{task.tag.color}};">Atrasado</h1>
                {%endif%}
                <h1></h1>
                <div class="task-footer">
                    <h4>{{task.tag.name}}</h4>
                    <h4>Fecha limite: {{task.expire_date}}</h4>
                </div>
            </div>
        </div>
        <div class="simplified-view" style="display: None; position: relative;" onClick="task('{{task.title}}')">
            <div class="task simplified" style="background-color: {{task.tag.color}}91;">
                <h1>{{task.title}}
                    <div class="task-actions">
                        <a href="/tasks/{{task.title}}/editar">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c21.9-21.9 21.9-57.3 0-79.2L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.7 15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160V416c0 53 43 96 96 96H352c53 0 96-43 96-96V320c0-17.7-14.3-32-32-32s-32 14.3-32 32v96c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h96c17.7 0 32-14.3 32-32s-14.3-32-32-32H96z"/></svg>
                        </a>
                        <a href="/tasks/{{task.title}}/borrar">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"/></svg>
                        </a>
                        {%if task.expire_date|is_expired%}
                        <p style=" margin:0px">Atrasado</p>
                        {%endif%}
                    </div>
                </h1>
                <h4>Fecha limite: {{task.expire_date}}</h4>
            </div>
        </div>

        {%endfor%}
    {%else%}
    <h1>No hay tareas</h1>
    {%endif%}

    {%if completed_task%}
    <h1>Tareas Completadas</h1>
    {%for task in completed_task%}
    <div class="full-view">
        <div class="task" style="position: relative; background-color: {{task.tag.color}}91;">
            <h1>{{task.title}}</h1>
            <h2>{{task.content}}</h2>
            <h3>Status: {{task.status}}</h3>
            <div class="task-footer">
                <h4>{{task.tag.name}}</h4>
                <h4>Fecha limite: {{task.expire_date}}</h4>
            </div>
        </div>
    </div>
    <div class="simplified-view" style="display: None; position: relative;" onClick="task('{{task.title}}')">
        <div class="task simplified" style="background-color: {{task.tag.color}}91;">
            <h1>{{task.title}}
            </h1>
            <h4>Fecha limite: {{task.expire_date}}</h4>
        </div>
    </div>

    {%endfor%}
    {%endif%}
</body>
<script type="module">
const toggle=document.getElementById("toggle")
const normal_view=document.getElementsByClassName("full-view")
const simplified_view=document.getElementsByClassName("simplified-view")
const filter_tag=document.getElementById("filter-tag")
const filter_status=document.getElementById("filter-state")
const toggle_map=(visible,hidden)=>{
    let total_task=normal_view.length;
    for(let pos=0;pos<total_task;pos++){
        visible[pos].style.display="None";
        hidden[pos].style.display="";
    }
}
const toggle_event=()=>{
    if(toggle.checked){
        toggle_map(normal_view,simplified_view);
    }else{
        toggle_map(simplified_view,normal_view);
    }
}

var urlParams = new URLSearchParams(window.location.search);
var filter_tag_value = urlParams.get('tag');
var filter_state_value=urlParams.get("state")

filter_tag.value=filter_tag_value
filter_status.value=filter_state_value
toggle_event()
toggle.addEventListener("change",(e)=>{
    toggle_event()
});

filter_tag.addEventListener("change",(e)=>{
    window.location.href=`?tag=${filter_tag.value}&$state=${filter_status.value}`
});

filter_status.addEventListener("change",(e)=>{
    window.location.href=`?tag=${filter_tag.value}&state=${filter_status.value}`
});
</script>
<script>
function task(name){
    window.location.href=`/tasks/${name}`
}
function nofilter(){
    window.location.href='./home'
}
</script>
</html>