@import url("/static/root/global-var.css");
body{
    font-family: "Jersey 15", sans-serif;
    overflow-x: hidden;
}
.wrapper{
    display: grid; 
    grid-template-columns: repeat(2,45%);
    grid-gap: 5vw;
    margin: 0vh 2vw 0vh;
}
.left-pos{
    grid-column: 2;
    height: auto;
}
.right-pos{
    grid-column: 1;
    grid-row: 1/4;
}
.border-on{
    border-style: dashed;
    border-radius: 10px;
    border-color: var(--color5);
    border-width: 1vh;
    padding: 5vh 5vw 5vh;
    background-color: var(--color3);
    color:var(--font2)
}
form{
    display: flex;
    flex-direction: column;
}
body .btn{
    background-color:var(--color5);
    color:var(--font2);
    border-style: none;
    border-radius: 10px;
    padding: 1vh 1vw 1vh;
    align-self: flex-end;
    font-weight: bold;
}