{%include 'components/head.html'%}
<body>
    {%load filters%}
    {%include 'components/nav.html'%}
    <div style="display: flex; flex-direction: row; justify-content: space-between;padding: 0px 10px 0px;">
        
        <a href="./{{task.title}}/borrar">borrar</a>
        <a href="./{{task.title}}/editar">Editar</a>
        <a href="./{{task.title}}/marcar">marcar como completado</a>
    </div>
    <div class="full-view">
        <div class="task" style="position: relative; background-color: {{task.tag.color}}91;">
            <h1>{{task.title}}</h1>
            <h2>{{task.content}}</h2>
            <h3>Status: {{task.status}}</h3>
            {%if task.expire_date|is_expired%}
                <h1 class="expired" style="color:  {{task.tag.color}};">Atrasado</h1>
            {%endif%}
            <h1></h1>
            <div class="task-footer">
                <h4>{{task.tag.name}}</h4>
                <h4>Fecha limite: {{task.expire_date}}</h4>
            </div>
        </div>
    </div>
    <div style="display: flex;flex-direction: column; margin: 10px;" id="comments-section">
        <h1>Comentarios</h1>
        <label for="new_comment">Agregar Comentario</label>
        <textarea name="new_comment" id="new_comment"></textarea>
        <button onclick="upload()" style="position: relative; justify-self: end;; width: 5vw;">Agregar</button>
        {%if comments%}
        
        {%for comment in comments%}
            <div>
                <h2>{{comment.content}}</h2>
                <h5>{{comment.publishing_date}}</h5>
            </div>
        {%endfor%}
        {%endif%}
    </div>

</body>
<script>
function upload(){
    console.log("hola")
    fetch("/tasks/{{task.title}}/agregar_comentario", {
        method: "POST",
        body: JSON.stringify({
            content: document.getElementById("new_comment").value,
        }),
        headers: {
            "Content-type": "application/json; charset=UTF-8",
            "X-CSRFToken":getCookie("csrftoken")
        }
        }).then(
            (response)=>
                response.json()).then(
                    (json)=>
                    {
                        let comments=document.getElementById("comments-section");
                        comments.innerHTML+=`
                            <div>
                                <h2>${json.content}</h2>    
                                <h5>${json.publishing_date}</h5>
                            </div>
                        `
                    }
                );

}
function getCookie(name) {
    const value = `; ${document.cookie}`;
    const parts = value.split(`; ${name}=`);
    if (parts.length === 2) return parts.pop().split(';').shift();
}
</script>